.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d9c6e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  margin-left: -30px;
}

.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #543D7B;
  margin-bottom: 10px;
  margin-top: 00px;
}

.loginLogo img {
  width: auto;
  height: auto; 
}

.loginDesc {
  font-size: 24px;
  margin-top: 0px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #543D7B;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #543D7B;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
