.share {
  width: 85%;
  height: auto; /* Change height to auto */
  border-radius: 10px;
  /* box-shadow: 0px 0px 16px -8px rgb(0, 0, 0); */

  /* Positioning */
  position: relative; /* or relative, depending on your layout needs */
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, 0%); /* Center the box horizontally and vertically */
  margin-bottom: -30px;
}

.shareWrapper {
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.shareWrapper span {
  font-size: 50px;
  letter-spacing: 4px;
  color: #692a8d;
  font-family: "Coolvetica";
  font-weight: 400;
  font-style: normal;
}
