/* chats.css */
/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container Styles */
  
  .charsContainer {
    display: flex;
  }
  
  .wholebot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* ChatBot Styles */
  
  .wholebot h1 {
    order: -1;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .message {
    display: flex;
    justify-content: center; /* Added to center the messages */
    margin-bottom: 10px;
    width: 100%; /* Added to make the messages take full width */
  }
  
  .message .bg-purple-500 {
    background-color: #9f7aea;
    color: white;
  }
  
  .message .bg-gray-800 {
    background-color: #2d3748;
    color: white;
  }
  
  .message div {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Input Form Styles */
  
  form {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }