.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  background-color: #cc9a37;
  color: white;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  
}

.sidebarLink {
  text-decoration: none;
   /* Remove underline from links */
}
.sidebarLink2 {
  text-decoration: none;
  margin-top: 0;
   /* Remove underline from links */
}

.sidebarLink3 {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: -20px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 410;
  width: 60%;
  
}

.friendstext {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
  /* make the bottom bigger */
  
}