.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
    max-width: 600px;
}

.postImg{
    margin-top: -20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px; /* Apply border-radius for rounded corners */
    overflow: hidden;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.sendFriendRequestButton {
  /* Styles for the send friend request button */
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  background-color: #cc9a37;
  color: white;
  border: 0; /* Remove border */
  border-radius: 20px; /* Adjust the value to change the roundness */
  padding: 10px 20px;
  width: 170px; 
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinGroupButton {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  background-color: #cc9a37;
  color: white;
  border: 0; /* Remove border */
  border-radius: 20px; /* Adjust the value to change the roundness */
  padding: 10px 20px;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinGroupButton.sent {
  background-color: purple;
  pointer-events: none; /* Make the button unclickable */
}

.sendFriendRequestButton.sent {
  /* Styles for the button when friend request is sent */
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  background-color: rgb(84,61,123);
  color: white;
  border: 0; /* Remove border */
  border-radius: 20px; /* Adjust the value to change the roundness */
  padding: 10px 20px;
}

.customPostText {
  /* Add your custom styles for the post text here */
  
  font-size: 16px;
  line-height: 1.5;
  color: #0d0d0d;
  letter-spacing: 0.5px;
  text-align: center;
}

.postCenter {
  margin: 20px 0;
  margin-bottom: 1px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}