.aboutus {
    padding: 40px;
    color: #555;
  }
  
  .aboutus-wrapper {
    display: flex;
    flex-direction: column; 
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .aboutus-content {
    padding-right: 40px;
  }
  
  .aboutus-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .aboutus-description {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #555;
  }
  
  .aboutus-values h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .aboutus-values ul {
    list-style-type: none;
    padding: 0;
  }
  
  .aboutus-values li {
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  .aboutus-values-title {
    text-align: center;
  }
  
  li {
    font-size: 20px;
    
    color: #333;
  }
  
  .aboutus-image {
    order: -1; 
    text-align: center;
    margin-bottom: 40px;
  }
  
  .aboutus-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar {
    width: 250px; /* Set a fixed width for the sidebar */
    flex: none; /* Prevent the sidebar from growing or shrinking */
    background-color: #f0f2f5; /* Set background color */
    padding: 20px; /* Add padding */
  }